.Button{
    height: 30px;
    padding: 0 20px;
    cursor: pointer;
    background: cadetblue;
    margin: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: background .25s;
    border: 1px solid #508d8f;
    justify-content: center;
}

.Button:hover{
    background: #83d3d8;
    transition: background .25s;
}